<img class="bg" src="assets/img/hotel.jfif" alt="">

<div class="PRelative">
    <div class="TitleTxt">Room Options</div>
    <div class="TitleSub">Room No : 407</div>
    <div class="formSection">
        <input class="formInput" type="text" placeholder="Customer Name">
        <input class="formInput" type="text" placeholder="Customer Name">
        <input class="formInput" type="text" placeholder="Customer Name">
        <input class="formInput" type="text" placeholder="Customer Name">
    </div>
</div>